.title {
  font-size: 1.5em;
  color: #00486B;
}

.titleCol {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.title:hover {
  color: #99B5C3;
  cursor: pointer;
}

.navBarText {
  font-size: 1em;
  color: #00486B;
}

.navCol {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.navBarText:hover {
  color: #99B5C3;
  cursor: pointer;
}

.background {
  background-color: #4C7E97 !important;
}
